@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat"), url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff"), url("../fonts/montserrat-light.ttf") format("ttf");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), url("../fonts/raleway-regular.woff2") format("woff2"), url("../fonts/raleway-regular.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("ttf");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local("Raleway"), url("../fonts/raleway-medium.woff2") format("woff2"), url("../fonts/raleway-medium.woff") format("woff"), url("../fonts/raleway-medium.ttf") format("ttf");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local("Raleway"), url("../fonts/raleway-semibold.woff2") format("woff2"), url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("ttf");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local("Raleway"), url("../fonts/raleway-extrabold.woff2") format("woff2"), url("../fonts/raleway-extrabold.woff") format("woff"), url("../fonts/raleway-extrabold.ttf") format("ttf");
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
}

header {
  background-color: #262526;
  height: auto;
  background-image: url("../img/fon_photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  padding-top: 2.5rem;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header a.logo {
  width: 15%;
  margin: 0 10%;
  height: 4rem;
  text-align: center;
}

header .header a.logo svg {
  fill: #ffffff;
}

header .header a.logo:hover svg {
  fill: #c7b299;
}

header .header nav {
  padding-top: 0.4rem;
  height: 2rem;
}

header .header nav .menu li {
  list-style-type: none;
  float: left;
}

header .header nav .menu li a {
  display: inline-block;
  text-decoration: none;
  font-family: Montserrat, Georgia, serif;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 300;
  text-align: left;
  padding: 0 1rem 0 1rem;
}

header .header nav .menu li a:hover {
  color: #c7b29a;
}

header .header a.cart {
  padding: 1.3rem 0 0 1.5rem;
  width: 1%;
  height: 2rem;
}

header .header a.cart .cart_s {
  pointer-events: none;
}

header .header a.cart:hover .cart_s {
  opacity: 0.3;
}

header .header .search {
  width: 1%;
  height: 3rem;
  display: block;
  padding: 1.3rem 0 0 1.5rem;
  width: 3rem;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

header .header .search .search_s {
  pointer-events: none;
}

header .header input.search_input {
  background-color: inherit;
  border: inherit;
  outline: none;
  border: inherit;
  outline: none;
  height: 2.5em;
  border-radius: 30px;
  cursor: pointer;
  margin-left: -1.6em;
  margin-top: 1em;
  z-index: 1;
}

header .header input.search_input:focus {
  background-color: #c7b29a;
  padding: 5px;
}

header .header .search:hover .search_s {
  opacity: 0.3;
}

header .text {
  padding: 15rem 9.375rem 0 9.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 900px;
}

header .text .slider_arrow_left {
  display: block;
  width: 40px;
  height: 73px;
  position: relative;
}

header .text .slider_arrow_right {
  display: block;
  width: 40px;
  height: 73px;
  position: relative;
}

header .text .slider_arrow_left:after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  border-bottom: 2px solid #d3c1ad;
  border-left: 2px solid #d3c1ad;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .text .slider_arrow_right::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  border-top: 2px solid #d3c1ad;
  border-right: 2px solid #d3c1ad;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .text .slider_arrow_left:hover:after {
  border-bottom: 2px solid #998675;
  border-left: 2px solid #998675;
}

header .text .slider_arrow_right:hover:after {
  border-top: 2px solid #998675;
  border-right: 2px solid #998675;
}

header .text h2, header .text h1, header .text p {
  font-family: Raleway, Georgia, serif;
  color: #ffffff;
  text-align: center;
  margin: 0.875rem 0;
}

header .text h2 {
  font-size: 2.25rem;
  font-weight: 500;
}

header .text h1 {
  font-size: 3.25rem;
  font-weight: 700;
}

header .text p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

header .text a.getstarted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-family: Raleway, Georgia, serif;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.643;
  text-align: center;
  padding: 1em 2em;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #998675;
  width: 100px;
  min-width: 100px;
  margin: auto;
  margin-top: 3.25rem;
}

header .text a.getstarted:hover {
  -webkit-box-shadow: inset 0px 0px 73px 0px rgba(0, 0, 0, 0.39);
  box-shadow: inset 0px 0px 73px 0px rgba(0, 0, 0, 0.39);
}

header .text a.getstarted:focus {
  outline: 1px solid #d3c1ad;
}

header .navi_circle_all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 82px;
  margin: 0 auto;
  padding-top: 20em;
  padding-bottom: 4em;
}

header .navi_circle_all a.navi_circle {
  width: 11px;
  height: 11px;
  margin: 1px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.3;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

header .navi_circle_all a.navi_circle_2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  opacity: 0.5;
  margin: 0 1px;
}

.about_us_all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  text-align: center;
  padding: 60px 0;
}

.about_us_all .about_us {
  width: 305px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  text-align: center;
  margin: 0 1rem 0.5rem 0;
}

.about_us_all .about_us span {
  width: 100%;
  font-family: Raleway, Georgia, serif;
  color: #555555;
  font-size: 1.375rem;
  font-weight: 600;
  text-align: center;
  min-width: 189px;
}

.about_us_all .about_us p {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: #8c8c8c;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.714;
  text-align: center;
}

.about_us_all .about_us svg {
  fill: #555555;
}

.about_us_all .about_us:hover svg {
  fill: #c7b299;
}

.about_us_all a.about_us svg,
.about_us_all span,
.about_us_all p {
  margin: 1em 0;
}

.about_us_all .about_us::after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #f1eee9;
  margin-top: 33px;
}

.about_us_all .about_us:hover span {
  color: #c7b299;
}

.about_us_all .about_us:hover:after {
  background-color: #c7b299;
}

.waxom_is_realization {
  background-color: #fbfaf8;
  z-index: 0;
  min-height: 700px;
  height: auto;
  padding-top: 83px;
  position: relative;
}

.waxom_is_realization h2 {
  font-family: Raleway, Georgia, serif;
  color: #555555;
  font-size: 1.875rem;
  font-weight: 600;
  text-align: center;
}

.waxom_is_realization p {
  font-family: Montserrat, Georgia, serif;
  color: #8c8c8c;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75;
  text-align: center;
  margin-bottom: 80px;
}

.waxom_is_realization img.browser_center {
  display: block;
  width: 770px;
  margin: auto;
  z-index: 4;
  height: 482px;
  margin-top: auto;
}

.waxom_is_realization img.browser_left, .waxom_is_realization img.browser_right {
  width: 770px;
  height: 400px;
  display: block;
  position: absolute;
  margin-top: 82px;
  cursor: pointer;
  z-index: -1;
}

.waxom_is_realization img.browser_left {
  left: 8%;
}

.waxom_is_realization img.browser_right {
  top: 302px;
  right: 8%;
}

.waxom_is_realization img.browser_left:hover, .waxom_is_realization img.browser_right:hover {
  z-index: 9;
}

.waxom_is_realization img.browser_left:active, .waxom_is_realization img.browser_right:active {
  z-index: 9;
  margin-top: auto;
  height: 482px;
  width: auto;
}
/*# sourceMappingURL=style.css.map */