footer {
    background-color:  #111111;
    padding: 2.3rem 12%;
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: space-between;
    -webkit-justify-content: space-between;

    ul,
    ul.left_ulpart {
        width: 50%;

        li {
            display: inline-block;
            padding: 0 1rem;
            border-right: solid 1px #202020;

            a {
                text-decoration: none;
                @include footer_text;
                .footer_text_second_child {
                    @include footer_text_second_child;
                }
            }
            a:hover {
                @include footer_text_hover;
                & .footer_text_second_child {
                    @include footer_text_second_child;
                }
            }
        }
    }
    .left_ulpart {
        display: flex;
        display: -webkit-flex; /* Safari */
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
    }
}

@media only screen and (max-width: 1350px) {
    footer {
        flex-wrap: wrap;
        justify-content: center;
        -webkit-justify-content: center;
        padding: 2.3rem 1rem;
        ul,
        ul.left_ulpart {
            width: 100%;
            display: flex;
            display: -webkit-flex; /* Safari */
            justify-content: center;
            -webkit-justify-content: center;
            padding: 0 .4rem;
            li {
                padding: 0 .2rem;
            }
        }
    }
}