.for_mobile {
    display: flex;     
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; /* Safari */      
    display: -webkit-flex; /* Safari */
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    background-color: $color_background;
    padding-top: 5rem;

    .text_if_width_1300 {
        display: none;
    }

    img {
        align-self: flex-end;
        -webkit-align-self: flex-end; /* Safari */
        margin-right: 2rem;
    }

    .for_mobile_text {
        max-width: 657px;
        position: relative;
    
    }

    
    h2 {
        @include h2_light_brown;
        text-align: left !important;
    }
    p {
        @include p_dark;
        text-align: left !important;
        
    }
    details {
        position: relative;
        p {
            padding-left: 6rem;
        }
    }
    details summary {
        @include p_dark;
        text-align: left !important;
        line-height: 2 !important;
        text-indent: 6rem;
        
        outline: none;
        cursor: pointer;
    }


    details summary::before {
        content: url('../img/icon_for_summary.svg');
        position: absolute;
        left: -51px;
        top: 6px;
      }

    details summary::-webkit-details-marker {
        display: none;
    }
    details[open] summary::before {
        content: url('../img/icon_for_summary.svg');
        transform-origin: 90% 38%;
        transform: rotate(90deg);
    }
}
// ****************MEDIA 

@media only screen and (max-width: 1300px) {
    .for_mobile {
        padding: 2rem 2rem 0 2rem;
        width: 100%;
        img {
            width: 35%;
            height: auto;
            margin: 0;
        }

        .text_if_width_1300 {
            display: block;
            width: 100%;
           display: flex;
           flex-direction: column;
           h2 {
               text-align: center !important;
           }
        }
        .for_mobile_text {
            h2 {
                display: none;
            }

            p.if_width_1300 {
                display: none;
            }
            width: 64%;
            align-self: flex-start;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .for_mobile {
        padding: 2rem 0 0 0.5rem;
        width: 100%;
        p {
            font-family: Montserrat, Arial, sans-serif;
            color:  #8c8c8c;
            font-size: 0.7rem;
        }
        .for_mobile_text {
            details {
                margin: 0;
                summary {
                     font-family: Montserrat, Arial, sans-serif;
                    color:  #8c8c8c;
                    font-size: 0.7rem;
                    text-indent: .5rem;
                }
                summary::before {
                    padding-left: 1rem;
                    font-family: Montserrat, Arial, sans-serif;
                    color:  #8c8c8c;
                    font-size: 0.7rem;
                }

    
                p {
                    font-family: Montserrat, Arial, sans-serif;
                    color:  #8c8c8c;
                    font-size: 0.7rem !important;
                    display: block;
                    width: 100%;
                    padding: 0;
                }
            }

        }
       
    }
}