header {
    background-color: #262526;
    height: auto;
    background-image: url('../img/fon_photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    padding-top: 2.5rem;
    .header {
        display: flex;       
        display: -webkit-flex; /* Safari */
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        align-content: stretch;
        -webkit-align-content: stretch; /* Safari */

        a.logo {
            height: 4rem;
            text-align: center;
            text-decoration: none;
            display: flex;         
            display: -webkit-flex; /* Safari */
            align-items: center;
            -webkit-align-items: center;
            flex-grow: 1.3;
            -webkit-flex-grow: 1.3; /* Safari */
            justify-content: center;
            -webkit-justify-content: center; /* Safari */
           
        }
        span {
            display: inline-block;
            font-family: Raleway, Georgia, serif;
            color:  #ffffff;
            font-size: 2.125rem;
            font-weight: 400;
            text-align: right;
        }
        a.logo:hover span {
            color: $color_brown_text;
        }
        
        .menu_lab {
            min-width: 2rem;
            min-height: 2rem;
            display: none;
            background-image:  url('../img/menu_mobile.svg');
            background-repeat: no-repeat;
            background-size: 100%;    
            
        }
        input[type="checkbox"]:checked ~ nav {
            display: block;
        }
        #menu {
            display: none;
        }
     
        nav {

            .menu {
                list-style-type: none;
                display: flex;
                justify-content: space-between;
                align-content: center;
                height: 60px;
                padding: 0;
            }
                
            .menu li a {
                display: inline-block;
                text-decoration: none;
                font-family: Montserrat, Georgia, serif;
                color: $color_white;
                font-size: 0.875rem;
                font-weight: 300;
                text-align: left;
                padding: 1rem;
            }
            .menu li a:hover {
                color: #c7b29a;
            }
        }
        
     }

     input[type="search"] {
        width: 250px;
        height: 25px;
        outline: none;
        margin-left: 2em;
        background-image: url('../img/search.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: initial;
        border: none;
      }
      input[type="search"]:hover {
        opacity: 0.3;
      }
      
      input[type="search"]:focus {
        background-position: right;
        background-color: $color_hover_brown;
        border-radius: 15px;
        color: $color_white;
        padding-left: 1rem;
        opacity: 1;
        transition: 1.5s;
        background-image: none;
        height: 35px;
    }

    .text {
        padding: 15rem 9.375rem 0 9.375rem;
        display: flex;         
        display: -webkit-flex; /* Safari */
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-between;
        -webkit-justify-content: space-between; /* Safari */
        max-width: 900px;
        width: 55%;
        margin: 0 auto;
        .slider_arrow_left {
            display: block;
            width: 40px;
            height: 73px;
            position: relative;
        }
        .slider_arrow_right {
            display: block;
            width: 40px;
            height: 73px;
            position: relative;
        }
        .slider_arrow_left:after {
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        border-bottom: 2px solid #d3c1ad;
        border-left: 2px solid #d3c1ad;
        transform: rotate(45deg);
        }
        .slider_arrow_right::after {
            content: "";
            display: inline-block;
            width: 50px;
            height: 50px;
            border-top: 2px solid #d3c1ad;
            border-right: 2px solid #d3c1ad;
            transform: rotate(45deg);
        }
        .slider_arrow_left:hover:after {
        border-bottom: 2px solid #998675;
        border-left: 2px solid #998675;
        }
        .slider_arrow_right:hover:after {
        border-top: 2px solid #998675;
        border-right: 2px solid #998675;
        }
        h2, h1, p {
            font-family: Raleway, Georgia, serif;
            color: $color_white;
            text-align: center;
        }


        h2 {
            font-size: 2.25rem;
            font-weight: 500;
            margin: 0.875rem 0;
            
        }
        h1 {
            font-size: 3.25rem;
            font-weight: 700;
            margin: 0.875rem 0;
        }
        p {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            margin: 0.875rem 0 3rem 0;
        } 
    }

    .navi_circle_all {
        display: flex;         
        display: -webkit-flex; /* Safari */
        width: 82px;
        margin: 0 auto;
        padding-top: 20em;
        padding-bottom: 4em;
        a.navi_circle {
            width: 11px;
            height: 11px;
            margin: 1px;
            border-radius: 50%;
            background-color: #ffffff;
            opacity: 0.3;
            text-decoration: none;
            display: inline-block;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        a.navi_circle_2 {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid #ffffff;
            opacity: 0.5;
            margin: 0 1px;
        }
    }
}

@media only screen and (max-width: 1300px) {
    header {
        .header {
            form {
                display: none;  
            }
        }
        .text {
            width: 88%;
            padding: 15rem 2rem 0 2rem;
        } 
    }
}
@media only screen and (max-width: 950px) {
    header {
        .header {
            flex-wrap: wrap;
            nav {
                width: 100%;
            }
            a.logo {
                width: 100%;
            }
        }    
    }
}
@media only screen and (max-width: 780px) {
    header {
        padding: 0;
        .header {
            padding: 1rem 2rem;
            // flex-wrap: nowrap;
            a.logo {
                justify-content: left;
                width: 50%;
            }
            .menu_lab {
                display: block;
            }
            
            nav {
                display: none;
                width: 100%;
                .menu {
                    width: 100%;
                    margin: 0 auto;
                    height: auto;
                    flex-direction: column; 
                    text-align: center; 
                    width: 100%; 
                }
            }
            input[type="checkbox"]:checked ~ nav {
                display: block;
            }
            .svg_bag, input[type="search"] {
                display: none;
            }
        }
        .text {
            display: none;
        }
        .navi_circle_all {
            display: none;
        }
    }
}