header {
    background-color: #262526;
    height: auto;
    background-image: url('../img/fon_photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    padding-top: 2.5rem;
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        a.logo {
            height: 4rem;
            text-align: center;
            text-decoration: none;
           
        }
        span {
            display: inline-block;
            font-family: Raleway, Georgia, serif;
            color:  #ffffff;
            font-size: 2.125rem;
            font-weight: 400;
            text-align: right;
        }
        a.logo:hover span {
            color: $color_brown_text;
        }
        
        
        nav {
            ul {
                margin: 0;
            }
            .menu li {
                list-style-type: none;
                float: left;
            }
            .menu li a {
                display: inline-block;
                text-decoration: none;
                font-family: Montserrat, Georgia, serif;
                color: $color_white;
                font-size: 0.875rem;
                font-weight: 300;
                text-align: left;
                padding: 1rem;
            }
            .menu li a:hover {
                color: #c7b29a;
            }
        }
     }

     input[type="search"] {
        width: 25px;
        height: 25px;
        outline: none;
        margin-left: 2em;
        background-image: url('../img/search.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: initial;
        border: none;
      }
      input[type="search"]:hover {
        opacity: 0.3;
      }
      
      input[type="search"]:focus {
        width: 300px;
        transition: width 1s ease-out;
        background-position: right;
        background-color: $color_hover_brown;
        height: 2rem;
        border-radius: 5px;
        color: $color_white;
        padding-left: 1rem;
        opacity: 1;

    }
    .text {
        padding: 15rem 9.375rem 0 9.375rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 900px;
        .slider_arrow_left {
            display: block;
            width: 40px;
            height: 73px;
            position: relative;
        }
        .slider_arrow_right {
            display: block;
            width: 40px;
            height: 73px;
            position: relative;
        }
        .slider_arrow_left:after {
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        border-bottom: 2px solid #d3c1ad;
        border-left: 2px solid #d3c1ad;
        transform: rotate(45deg);
        }
        .slider_arrow_right::after {
            content: "";
            display: inline-block;
            width: 50px;
            height: 50px;
            border-top: 2px solid #d3c1ad;
            border-right: 2px solid #d3c1ad;
            transform: rotate(45deg);
        }
        .slider_arrow_left:hover:after {
        border-bottom: 2px solid #998675;
        border-left: 2px solid #998675;
        }
        .slider_arrow_right:hover:after {
        border-top: 2px solid #998675;
        border-right: 2px solid #998675;
        }
        h2, h1, p {
            font-family: Raleway, Georgia, serif;
            color: $color_white;
            text-align: center;
        }


        h2 {
            font-size: 2.25rem;
            font-weight: 500;
            margin: 0.875rem 0;
            
        }
        h1 {
            font-size: 3.25rem;
            font-weight: 700;
            margin: 0.875rem 0;
        }
        p {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            margin: 0.875rem 0 3rem 0;
        }
        
    }
    .navi_circle_all {
        display: flex;
        width: 82px;
        margin: 0 auto;
        padding-top: 20em;
        padding-bottom: 4em;
        a.navi_circle {
        width: 11px;
        height: 11px;
        margin: 1px;
        border-radius: 50%;
        background-color: #ffffff;
        opacity: 0.3;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        }
        a.navi_circle_2 {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid #ffffff;
            opacity: 0.5;
            margin: 0 1px;
        }
    }
}