.logos {
    width: 100%;
    background-image: url('../img/background_footer.jpg');
    background-size: cover;
    display: flex;         
    display: -webkit-flex; /* Safari */
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; /* Safari */ 
    justify-content: center;
    -webkit-justify-content: center; /* Safari */
    align-items: center;
    -webkit-align-items: center;
    padding: 5.5rem 0;
    
    a {
        display: block;
        margin: 0 2.5rem;
        width: 15%;
    }
    a img {
       width: 100%;
       height: auto;
        opacity: 0.5;
    }

    a:hover img {
       opacity: 1;
       transition: 0.8s;
    }
}

@media only screen and (max-width: 1300px) {
    .logos {

        padding: 2.5rem 0;
        a {
            margin: 0 1.5rem;
        }
    }
}