@mixin h2_light_brown {
    font-family: Raleway, Georgia, serif;
    color:  #555555;
    font-size: 1.875rem;
    font-weight: 600;
    text-align: center;
}

@mixin h2_light_white {
    font-family: Raleway, Georgia, serif;
    color: $color_white;
    font-size: 1.875rem;
    font-weight: 500;
    text-align: center;
}


@mixin p_dark {
    font-family: Montserrat, Arial, sans-serif;
    color:  #8c8c8c;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.75;
    text-align: center;  
}

@mixin p_white {
    font-family: Montserrat, Arial, sans-serif;
    color: $color_white;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.75;
    text-align: center;  
}
@mixin text_waxom {
    font-family: Raleway, Georgia, serif;
    color:  $color_brown_text;
    font-size: 1.75rem;
    font-weight: 400;
    text-align: left;
}
@mixin span {
    font-family: Montserrat, Arial, sans-serif;
    color:  $color_brown_text;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.714;
    text-align: center;
}

@mixin span_300 {
    font-family: Montserrat, Arial, sans-serif;
    color:  $color_brown_text;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.429;
    text-align: center;
}


@mixin p_big {
    font-family: Montserrat, Arial, sans-serif;
    color: $color_white;
    font-size: 3rem;
    font-weight: 200;
    line-height: 0.75;
    text-align: center;
}


// style recent posts box

@mixin text_span {
    font-family: Raleway, Georgia, serif;
    color:  #555555;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: left;
}
@mixin text_p {
    font-family: Montserrat, Arial, sans-seri;
    color:  #8c8c8c;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.571;
    text-align: left;
}

@mixin text_a {
    font-family: Montserrat, Arial, sans-seri;
    color: $color_brown_text;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.429;
    text-align: left;
}



// style social box
@mixin social_box_h3 {
    font-family: Raleway, Georgia, serif;
    color:  $color_white;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
}
@mixin social_box_p {
    font-family: Montserrat, Arial, sans-seri;
    color:  #545454;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.714;
    text-align: left;
}

@mixin social_box_date {
    font-family: Montserrat, Arial, sans-seri;
    color:  #363636;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.667;
    text-align: left;

}

