@import '_color';

.container {
    .page_1 {
        background-color: #262526;
        height: auto;
        background-image: url('../img/fon_photo.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 1024px;
        width: 100%;
        padding-top: 2.5rem;
        display: flex;
        position: relative;
        a.logo {
            width: 15%;
            margin: 0 10%;
            height: 4rem;
            text-align: center;
            .logo_s {
                pointer-events: none; //*1 позволяет ссылке <а> быть активной и находиться над svg
            }
        }
        a.logo:hover .logo_s {
            opacity: 0.2;
        }
        nav {
            padding-top: 0.4rem;
            height: 2rem;
            .menu li {
                list-style-type: none;
                float: left;
            }
            .menu li a {
                display: inline-block;
                text-decoration: none;
                font-family: Montserrat;
                color: $color_white;
                font-size: 0.875rem;
                font-weight: 300;
                text-align: left;
                padding: 0 1rem 0 1rem;
            }
            .menu li a:hover {
                color: #c7b29a;
            }
        }
        a.cart {
            padding: 1.3rem 0 0 1.5rem;
            width: 1%;
            height: 2rem;
            .cart_s {
                pointer-events: none; //*1 позволяет ссылке <а> быть активной и находиться над svg
            }
        }
        a.cart:hover .cart_s {
            opacity: 0.2;
        }
        .search {
            width: 1%;
            height: 3rem;
            display: block;
            padding: 1.3rem 0 0 1.5rem;
            width: 3rem;
            border: none;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            .search_s {
                pointer-events: none;
            }
        }
        .search:hover .search_s {
            opacity: 0.2;
        }
    }
}