header .header {
    a.logo svg {
        fill: $color_white;
    }
    a.logo:hover svg {
        fill: $color_brown_text;
    }
    a.svg_bag {
        fill: $color_white;
        margin-left: 6rem;
    }
    a.svg_bag:hover {
        fill: $color_hover_brown;
    }
    @media only screen and (max-width: 1300px) {
        a.svg_bag {
            display: none;
        }
    }
}


.about_us_all {
    .about_us svg {
        fill:   #555555;
    }
    .about_us:hover svg {
        fill:  $color_brown_text;
    }
    a.about_us svg,{
        margin: 1em 0;
    }
}

a.our_projects_box:hover {
    .our_projects_box_hover{
        & svg {
            fill:   $color_brown_text;
        }
    }

}

.statistics svg {
    fill: $color_hover_brown;
    display: block;
    margin: 0 auto;
    transition: 1s;
}


.arrow_svg_posts {
    fill:  #d1d1d1;
    width: 22px;
    height: 22px;
}
.arrow_svg_posts:hover {
    fill:  $color_brown_text;
}

