.video {
    width: 100%;
    position: relative;

    .video_text {
        position: absolute;
        top: 23%;
        left: 30%;
        display: flex;         
        display: -webkit-flex; /* Safari */
        flex-direction: column;
        -webkit-flex-direction: column; /* Safari */
        width: 40%;

        h2 {
            @include h2_light_white;
            transition: 3s;
        }
        p {
            @include p_white;
            transition: 3s;
        }
        span {
            @include span;
            transition: 3s;
        }

    }

    .video_text:hover h2, .video_text:hover p, .video_text:hover span {
        opacity: 0;
        transition: 3s;

    }

    .video-play {
        width: 100%;
        object-fit: cover;
    }
   
    .video-play-btn {
        display: block;
        background: url('../img/play_video.png');
        height: 100px;
        width: 100px;
        border: none;
        outline: none;
        margin: 0 auto;
    }
      
    .video-play-btn--hide {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .video {
        height: auto;
        .video-play {
            height: 30rem;
        }
        .video_text {
            left: 0;
            width: 100%;
            top: 10%;
        }
    }
}

