.video {
    width: 1920px;
    // height: 705px;
    position: relative;

    h2 {
        position: absolute;
        left: 40%;
        top: 54%;
        @include h2_light_white;
    }
    p {
        position: absolute;
        left: 36.8%;
        top: 64%;
        @include p_white;
    }

    #video_only {
        min-width: 100%;
        width: auto;
        height: 705px;

        object-fit: inherit;

        
    }
   
}