.waxom_purchase {
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    width: 100%;
    min-height: 150px;
    display: flex;         
    display: -webkit-flex; /* Safari */
    justify-content: center;
    -webkit-justify-content: center; /* Safari */
    .purchase {
        display: flex;         
        display: -webkit-flex; /* Safari */
        flex-direction: column;
        -webkit-flex-direction: column; /* Safari */
        width: 50%;
        min-width: 800px;
        padding: 3% 0;
        h2, p {
            text-align: left;
            padding-left: 30%;
            margin: 0;
        }
        h2 {
            font-family: Raleway, Georgia, serif;;
            color: $color_white;
            font-size: 1.75rem;
            font-weight: 400;
        }
        h2:before {
            content: "Waxom   ";
            @include text_waxom;
        }
        h2:hover:before {
            content: "Waxom   ";
            color: $color_white;
        }
        p {
            font-family: Montserrat;
            color:  #615855;
            font-size: 1.125rem;
            font-weight: 300;
        }
    }
}

@media only screen and (max-width: 480px) {
    .waxom_purchase {
        display: none;
    }
}
